{% include('parts/header.html.twig') %}

<div class="mt-6 lg:w-5/6">
  <div class="mb-7 text-sm">
    <ul class="flex gap-1">
      <li class="flex after:content-['â®'] gap-1">
        <a href="index.html" class="text-cyan-500">Home</a>
      </li>
      <li>Class coupling</li>
    </ul>
  </div>

  <h1 class="mb-6 text-3xl font-semibold font-display">Class coupling</h1>

  <h3 class="mt-8 mb-3 text-xl font-semibold font-display">Classes</h3>
  <div class="relative overflow-x-auto">
    <table class="sortable asc w-full border-collapse border border-slate-500 text-sm rounded-xl transition-opacity" data-currentsort="0:asc:string">
      <thead class="bg-cyan-950/25">
      <tr>
        <th class="border border-slate-500 text-left px-2 py-0.5" data-sortable="string">
          <span class="label-box flex justify-between items-center gap-1">
            <span class="label-name">Name</span>
            <span class="sort-icon transition-all opacity-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4"><path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" /></svg></span>
          </span>
        </th>
        {% for header in tableHeaders %}
          {% include('parts/thead-th-sortable.html.twig') %}
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for class in classes %}
        <tr class="even:bg-cyan-950/45 odd:bg-cyan-950/85 transition-colors hover:bg-cyan-800">
          <td class="border border-slate-500 text-left px-2 py-0.5" data-sort="{{ class.get('singleName') }}">
            <div class="flex gap-4 justify-between items-start">
              <a href="{% if isSubdir %}../{% endif %}classes/{{ class.getIdentifier() }}.html" class="group block flex-1">
                {% if class.get('anonymous').getValue() %}
                  <span class="text-white/40 group-hover:text-white">{{ class.filePath }}</span><br>
                  <span class="font-semibold inline-block group-hover:text-cyan-400" title="{{ class.getName() }}">{{ class.getName() }}</span>
                {% else %}
                  {% if class.get('namespace') %}<span class="text-white/40 group-hover:text-white">{{ class.get('namespace') }}</span><br>{% endif %}
                  <span class="font-semibold inline-block group-hover:text-cyan-400" title="{{ class.getName() }}">{{ class.get('singleName') }}</span>
                {% endif %}
              </a>
              {% if class.get('interface').getValue() %}
                <div class="rounded px-2 py-0.5 bg-amber-900 mt-0.5">Interface</div>
              {% elseif class.get('trait').getValue() %}
                <div class="rounded px-2 py-0.5 bg-purple-900 mt-0.5">Trait</div>
              {% elseif class.get('enum').getValue() %}
                <div class="rounded px-2 py-0.5 bg-emerald-900 mt-0.5">Enum</div>
              {% elseif class.get('abstract').getValue() %}
                <div class="rounded px-2 py-0.5 bg-fuchsia-900 mt-0.5">Abstract</div>
              {% elseif class.get('anonymous').getValue() %}
                <div class="rounded px-2 py-0.5 bg-gray-800 mt-0.5">Anonymous</div>
              {% else %}
                <div class="rounded px-2 py-0.5 bg-blue-900 mt-0.5">Class</div>
              {% endif %}
            </div>
          </td>
          {% for metricKey in listMetricKeys %}
            {% set data = class.get(metricKey) %}
            {% include('parts/tbody-td-sortable.html.twig') %}
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include('parts/footer.html.twig') %}