{% include('@Parts/header.html.twig') %}
<div class="mt-6 lg:w-5/6">
  <div class="mb-7 text-sm">
    <ul class="flex gap-1">
      <li class="flex after:content-['â®'] gap-1">
        <a href="index.html" class="text-cyan-500">Home</a>
      </li>
      <li>Files</li>
    </ul>
  </div>

  <h1 class="mb-6 text-3xl font-semibold font-display">Files</h1>

  <p>This is a sortable list of all PHP files in your project.</p>

  <div class="filters mb-4 flex justify-end">
    <div>
      <input type="text" name="filter" class="namefilter text-black rounded px-2 py-0.5" placeholder="Search file name">
      <button class="button-reset">Reset</button>
    </div>
  </div>

  <div class="relative overflow-x-auto">
    <table class="sortable asc my-6 w-full border-collapse border border-slate-500 text-sm rounded-xl transition-opacity" data-currentsort="0:asc:string">
      <thead class="bg-cyan-950/25">
        <tr>
          <th class="border border-slate-500 text-left px-2 py-0.5" data-sortable="string">
            <span class="label-box flex justify-between items-center gap-1">
              <span class="label-name">File</span>
              <span class="sort-icon transition-all opacity-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4"><path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" /></svg></span>
            </span>
          </th>
          {% for header in tableHeaders %}
            {% include('@Parts/thead-th-sortable.html.twig') %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
          {% set metricCollectionId = file.getIdentifier().__toString() %}
          {% set errors = file.getCollection('errors').getAsArray() %}
          <tr class="even:bg-cyan-950/45 odd:bg-cyan-950/85 transition-colors hover:bg-cyan-800">
            <td class="border border-slate-500 text-left px-2 py-0.5 filter-name" data-filter="{{ file.get('fileName') }}" data-sort="{{ file.get('dirName') }}/{{ file.get('fileName') }}">
              <a href="files/{{ file.getIdentifier }}.html" class="block w-full">
                <span class="text-white/40">{{ file.get('dirName') }}/</span><br>
                <span class="font-semibold inline-block{% if errors|length > 0 %} bg-red-900{% endif %}" title="{{ file.get('dirName') }}/{{ file.get('fileName') }}">{{ file.get('fileName') }}{% if errors|length > 0 %}  ({{ errors|length }} error{% if errors|length > 1 %}s{% endif %}){% endif %}</span>
              </a>
            </td>
            {% for metricKey in listMetricKeys %}
              {% set data = file.get(metricKey) %}
              {% include('@Parts/tbody-td-sortable.html.twig') %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include('@Parts/footer.html.twig') %}