{% include('parts/header.html.twig') %}

<div class="mt-6 lg:w-5/6">
  <h1 class="mb-3 text-lg font-semibold font-display">File metrics for:</h1>
  <h2 class="mb-6 text-3xl"><span class="text-white/40">{{ file.dirName }}/</span><span class="font-semibold inline-block" title="{{ file.dirName }}/{{ file.fileName }}">{{ file.fileName }}</span></h2>

  {% if file.errors|length > 0 %}
    <div class="my-8 bg-red-950 rounded-lg border-t-4 border-red-600 text-white w-fit p-3">
      <h3 class="text-xl font-medium">Parse error{% if file.errors|length > 1 %}s{% endif %}</h3>
      <ul class="mb-4 list-disc pl-3">
        {% for error in file.errors %}
          <li class="mt-1">{{ error }}</li>
        {% endfor %}
      </ul>
      <p class="italic text-xs">Parse errors prevent the file from being parsed. Because of this, no data is available.<br>Please fix the errors and run the analysis again.</p>
    </div>
  {% endif %}

  <div class="my-8 grid sm:grid-cols-3 gap-3">
    {% for element in file.detailData %}
      {% include('parts/metric-tile.html.twig') %}
    {% endfor %}
  </div>
</div>

{% include('parts/footer.html.twig') %}