{% include('parts/header.html.twig') %}

{% set isMethod = function.functionType.getValue() == 'method' %}
{% if isMethod %}
  {% set scope %}
    {% if function.public.getValue() %}public{% elseif function.protected.getValue() %}protected{% else %}private{% endif %}
    {% if function.static.getValue() %}static{% endif %}
  {% endset %}
{% endif %}
{% set h1Title = isMethod ? 'Method' : 'Function' %}
{% set information = isMethod ? scope : function.namespace %}
{% set functionName = isMethod ? function.name : function.singleName %}
{% set divider = isMethod ? ' ' : '/' %}

<div class="mt-6 lg:w-5/6">
  <h1 class="mb-3 text-lg font-semibold font-display">{{ h1Title }} metrics for:</h1>
  <h2 class="mb-6 text-3xl">
    <span class="text-white/40">{{ information }}{{ divider }}</span>
    <span class="font-semibold inline-block" title="{{ information }}{{ divider }}{{ functionName }}">
      {{ functionName }}
    </span>
  </h2>

  <div class="mt-8 rounded-xl border border-cyan-800 bg-cyan-950/45 p-4">
    <h3 class="mb-3 text-xl font-semibold font-display">Parameters</h3>
    {% if function.parameterCount > 0 %}
      <table>
        <tbody>
        {% for parameter in function.parameters %}
          <tr>
            <td class="text-white/40 pr-4">{{ parameter.type }}{% if parameter.type is empty %}untyped{% endif %}</td>
            <td class="text-lg font-semibold">{{ parameter.name }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="font-semibold">No parameters used</p>
    {% endif %}
  </div>

  <div class="mt-8 rounded-xl border border-cyan-800 bg-cyan-950/45 p-4">
    <h3 class="mb-3 text-xl font-semibold font-display">Dependencies</h3>

    {% if class.extends|length or class.interfaces|length or function.usedClasses|length or class.usedBy.getValue()|length or class.traits|length %}
      <table class="w-full border-collapse">
        <tbody>
        {% if class.interfaces|length %}
          <tr class="odd:bg-cyan-950/85 even:bg-cyan-950/55 border-t border-white/15">
            <th class="text-left p-2 align-top">Implements</th>
            <td class="p-2">{{ class.interfaces|sort|join('<br>')|raw }}</td>
          </tr>
        {% endif %}
        {% if class.extends|length %}
          <tr class="odd:bg-cyan-950/85 even:bg-cyan-950/55 border-t border-white/15">
            <th class="text-left p-2 align-top">Extends</th>
            <td class="p-2">{{ class.extends|sort|join('<br>')|raw }}</td>
          </tr>
        {% endif %}
        {% if class.traits|length %}
          <tr class="odd:bg-cyan-950/85 even:bg-cyan-950/55 border-t border-white/15">
            <th class="text-left p-2 align-top">Traits</th>
            <td class="p-2">{{ class.traits|sort|join('<br>')|raw }}</td>
          </tr>
        {% endif %}
        {% if function.usedClasses|length %}
          <tr class="odd:bg-cyan-950/85 even:bg-cyan-950/55 border-t border-white/15">
            <th class="text-left p-2 align-top">Uses</th>
            <td class="p-2">{{ function.usedClasses|sort|join('<br>')|raw }}</td>
          </tr>
        {% endif %}
        {% if class.usedBy.getValue()|length %}
          <tr class="odd:bg-cyan-950/85 even:bg-cyan-950/55 border-t border-white/15">
            <th class="text-left p-2 align-top">Used by</th>
            <td class="p-2">{{ class.usedBy.getValue()|sort|join('<br>')|raw }}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    {% else %}
      <p class="font-semibold">No dependencies found.</p>
    {% endif %}
  </div>

  <div class="my-8 grid sm:grid-cols-3 gap-3">
    {% for element in function.detailData %}
      {% if element.key == 'classInfo' %}
        {% include('parts/classname-tile.html.twig') %}
      {% else %}
        {% include('parts/metric-tile.html.twig') %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% include('parts/footer.html.twig') %}