<h3 class="mt-8 mb-3 text-2xl font-semibold font-display">{{ tableName }}</h3>

<div class="filters mb-4 flex justify-end">
  <div>
    <input type="text" name="filter" class="namefilter text-black rounded px-2 py-0.5" placeholder="Search ...">
    <button class="button-reset">Reset</button>
  </div>
</div>

<div class="relative overflow-x-auto">
  <table class="sortable asc w-full border-collapse border border-slate-500 text-sm rounded-xl transition-opacity" data-currentsort="0:asc:string">
    <thead class="bg-cyan-950/25">
    <tr>
      <th class="border border-slate-500 text-left px-2 py-0.5 cursor-pointer" data-sortable="string">
          <span class="label-box flex justify-between items-center gap-1">
            <span class="label-name">Name</span>
            <span class="sort-icon transition-all opacity-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4"><path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" /></svg></span>
          </span>
      </th>
      <th class="border border-slate-500 text-left px-2 py-0.5" data-sortable="int">
          <span class="label-box flex justify-between items-center gap-1">
            <span class="label-name">Parameters</span>
            <span class="sort-icon transition-all opacity-0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4"><path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" /></svg></span>
          </span>
      </th>
      {% for header in tableHeaders %}
        {% include('parts/thead-th-sortable.html.twig') %}
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for function in functions %}
      {% if function.get('functionType').getValue() == 'method' %}
        {% set scope %}
          {% if function.get('public').getValue() %}public{% elseif function.get('protected').getValue() %}protected{% else %}private{% endif %}
          {% if function.get('static').getValue() %}static{% endif %}
        {% endset %}
      {% endif %}
      {% set parameters = function.getCollection('parameters').getAsArray() %}
      <tr class="even:bg-cyan-950/45 odd:bg-cyan-950/85 transition-colors hover:bg-cyan-800">
        <td class="border border-slate-500 text-left px-2 py-0.5 filter-name" data-filter="{{ function.getName() }}" data-sort="{{ function.getName() }}">
          <a href="{% if isSubdir %}../{% endif %}{{ folder }}/{{ function.getIdentifier }}.html" class="group block">
            {% if function.get('namespace') %}<span class="text-white/40 group-hover:text-white">{{ function.get('namespace') }}</span><br>{% endif %}
            {% if not function.get('namespace').getValue() %}<span class="text-white/40 group-hover:text-white">{% set pathToReplace = { (commonPath): '' } %}{{ function.getPath()|replace(pathToReplace) }}</span><br>{% endif %}
            {% if scope %}<span class="text-white/40 group-hover:text-white">{{ scope }}</span><br>{% endif %}
            <span class="font-semibold inline-block group-hover:text-cyan-400" title="{{ function.getName() }}">{% if function.get('singleName') %}{{ function.get('singleName') }}{% else %}{{ function.getName() }}{% endif %}</span>
          </a>
        </td>
        <td class="border border-slate-500 text-right px-2 py-0.5" data-sort="{{ parameters|length }}">
          <span
            class="inline-block px-1.5 py-0.5">
            {{ parameters|length }}
          </span>
        </td>
        {% for metricKey in listMetricKeys %}
          {% set data = function.get(metricKey) %}
          {% include('parts/tbody-td-sortable.html.twig') %}
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>